<div mat-dialog-title>
    <h1>Task Form</h1>
</div>
<form [formGroup]="tasForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>First name</mat-label>
                <input matInput type="text" placeholder="Ex.Jhon" formControlName="firstName">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="Ex. doe" formControlName="lastName">
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Task</mat-label>
                <input matInput type="text" placeholder="Ex.add task" formControlName="task">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Due Date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="due">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>

        <div class="row">
            <mat-radio-group aria-label="Select an option" formControlName="status">
                <mat-label><b>Status</b></mat-label>
                <mat-radio-button value="finished">Finished</mat-radio-button>
                <mat-radio-button value="partial">Partial</mat-radio-button>
                <mat-radio-button value="incomplete">Incomplete</mat-radio-button>
            </mat-radio-group>
        </div>

        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Task lvl</mat-label>
                <mat-select formControlName="tasklvl">
                    <mat-option *ngFor="let val of education" [value]="val">{{val}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Company</mat-label>
                <input matInput placeholder="Ex. AAGNIA" formControlName="company">
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>No of Days</mat-label>
                <input matInput placeholder="Ex. 4" type="number" formControlName="days">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Rewards</mat-label>
                <input matInput placeholder="Ex. 5" type="number" formControlName="rewards">
                <mat-hint>In Stars</mat-hint>
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
        <button mat-raised-button color="primary" type="submit">{{data ? 'Update': 'Save'}}</button>
    </div>
</form>